body {
	font-family: 'Roboto', 'Arial', sans-serif;
	color: #ffffff;
}

.top-overlay {
	background: #000000;
	opacity: 0.75;
}
.top-background {
	position: relative;
	background: url("../img/top-background-mobile.jpg") no-repeat center;
	background-size: cover;
}

.top-background::after {
	content: "";
	position: absolute;
	bottom: 15px;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	background: url("../img/down-arrow.png") no-repeat center;
	background-size: cover;
}

@media (min-width: 768px) {

	.top-background {
		background: url("../img/top-background-tablet.jpg") no-repeat center;
		background-size: cover;

	}

}

.page-header {
	padding: 0 30px;
	padding-top: 40px;
	margin-bottom: 55px;
}

.page-header__user-block {
position: absolute;
top: 7px;
left: 30px;
}

.page-header__user-block .login {
	color: #ffffff;
	font-size: 16px;
	line-height: 16px;
}

.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.main-nav__item a {
	display: block;
	padding: 9px;

	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	font-weight: 300;
	text-decoration: none;
	color: #ffffff;
	transition: opacity 0.3s;
}
.main-nav__item--login a {
	color: #000000;
}

.main-nav__item a:hover {
	opacity: 0.7;
}

.main-nav__item--shop a {
	text-decoration: underline
}
.main-nav__item--shop a:hover {
	text-decoration: none;
}

.main-nav__item:first-child a {
	padding-left: 0;
}
.main-nav__item:last-child a {
	padding-right: 0;
}

@media (min-width: 768px) {

	.page-header {
		padding: 0 50px;
		padding-top: 30px;
	}

	.main-nav {
		width: 72%;
	}
	.main-nav__item a {
		padding: 14px 31px;

		font-size: 18px;
		line-height: 18px;
	}
}

@media (min-width: 1150px) {

	.page-header {
		padding-top: 65px;
	}
}

.first-view {
	padding: 0 30px;
	padding-bottom: 75px;
}

.first-view__title {
	margin-bottom: 55px;
	text-align: center;
}
.first-view__title h1 {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;

	font-size: 28px;
	line-height: 28px;
	font-weight: 300;
}

.first-view__title span {
	font-size: 14px;
	line-height: 12px;
}

.first-view__adress p {
	margin: 0;
	padding: 0;

	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
}

.first-view__adress span {
	display: none;
}

.first-view__number {
	position: absolute;
	top: 10px;
	right: 30px;
}
.first-view__number p {
	margin: 0;
	padding: 0;

	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
}
.first-view__number span,
.first-view__number br {
	display: none;
}

@media (min-width: 768px) {

	.first-view {
		padding: 0 50px;
		padding-bottom: 65px;
	}

	.first-view__title {
		width: 61%;
		margin: 0 auto;
		margin-bottom: 20px;
		padding: 28px 25px;
	    border: 2px solid #ffffff;
	}

	.first-view__title h1 {
		margin-bottom: 25px;
		font-size: 41px;
		line-height: 41px;
	}
	.first-view__title span {
		font-size: 18px;
		line-height: 18px;
	}

	.first-view__flexing {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.first-view__adress span {
		display: inline;
	}
	.first-view__adress span span {
		margin-left: 20px;
	}

	.first-view__number {
		position: static;
	}

	.first-view__number p {
		position: static;
		font-size: 16px;
		line-height: 16px;
	}
	.first-view__number span,
	.first-view__number br {
		display: inline;
	}
}

@media (min-width: 1150px) {

	.first-view {
		padding-bottom: 100px;
	}

	.first-view__title {
		width: 50%;
		margin-bottom: 80px;
	}

	.first-view__title h1 {
		margin-bottom: 25px;
		font-size: 50px;
		line-height: 50px;
	}

	.first-view__title span {
		font-size: 21px;
		line-height: 21px;
	}

	.first-view__adress p,
	.first-view__number p {
		font-size: 20px;
		line-height: 24px;
	}
 }


.section-title {
	margin: 0;
	padding: 0;

	margin-bottom: 20px;

	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.section-title {
		margin-bottom: 40px;

		font-size: 40px;
		line-height: 50px;
	}
}

@media (min-width: 1150px) {
	.section-title {
		margin-bottom: 65px;

		font-size: 50px;
		line-height: 56px;
	}
}

.welcome {
	padding: 20px 30px;

	color: #000000;

	background: #ececec;
}

.welcome__about {
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 18px;
}
.welcome__about a {
	color: #000000;
	font-weight: 500;
}

@media (min-width: 768px) {

	.welcome {
		padding: 65px 50px;
	}
	.welcome__about {
		font-size: 18px;
		line-height: 24px;
	}
	.welcome__about a:hover {
		text-decoration: none;
	}
}

@media (min-width: 1150px) {

	.welcome {
		padding: 85px 50px;
	}
}

.advantages {
	padding: 20px 30px;
	background: #000000;
}

.advantages__items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	list-style: none;
}

.advantages__item {
	position: relative;
	width: 50%;
	margin-bottom: 35px;
	padding-top: 70px;
}
.advantages__item--time::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 54px;
	height: 54px;
	margin-left: -27px;
	background: url("../img/time.png") no-repeat center;
	background-size: cover;
}
.advantages__item--qual::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 54px;
	height: 54px;
	margin-left: -27px;
	background: url("../img/qual.png") no-repeat center;
	background-size: cover;
}
.advantages__item--price::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 54px;
	height: 54px;
	margin-left: -27px;
	background: url("../img/price.png") no-repeat center;
	background-size: cover;
}
.advantages__item--guarant::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 54px;
	height: 54px;
	margin-left: -27px;
	background: url("../img/guarant.png") no-repeat center;
	background-size: cover;
}
.advantages__item:nth-child(2n)::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: -0.5px;
	width: 1px;
	height: 100%;
	background: #ececec;
}

.advantages__item p {
	width: 70%;
	margin: 0 auto;
	padding: 0;

	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
	text-align: center;

}

@media (min-width: 768px) {

	.advantages {
		padding: 65px 50px;
	}

	.advantages__item {
		width: 25%;
		margin-bottom: 0;
	}
	.advantages__item--price::after {
    content: "";
	position: absolute;
	bottom: 0;
	left: -0.5px;
	width: 1px;
	height: 100%;
	background: #ececec;
	}

	.advantages__item--time::after {
    content: "";
	position: absolute;
	top: 0;
	left: -0.5px;
	width: 1px;
	height: 100%;
	background: #ececec;
	}

	.advantages__items {
	 position: relative;
	}
	.advantages__items::after {
    content: "";
	position: absolute;
	bottom: 0;
	right: -0.5px;
	width: 1px;
	height: 100%;
	background: #ececec;
	}

	.advantages__items p {
		font-size: 14px;
		line-height: 16px;
	}
}

@media (min-width: 1150px) {
	.advantages {
		padding: 85px 50px;
	}
	.advantages__items p {
		width: 60%;

		font-size: 18px;
		line-height: 24px;
	}
}

.tech-background {
	background: url("../img/tech.jpg") no-repeat center;
	background-size: cover;
}
.tech-overlay {
	background: #ffffff;
	opacity: 0.7;
}
.tech {
	padding: 20px 30px;

	color: #000000;
}

.tech__list {
	margin: 0;
	padding: 0;
}
.tech__point {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
.tech__number {
	display: none;
}

@media (min-width: 768px) {
	.tech {
		padding: 65px 50px;
	}

	.tech__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		list-style: none;
	}
	.tech__point {
		position: relative;
		width: 25%;
		padding-top: 65px;

		font-size: 14px;
		line-height: 18px;
		text-align: center;
	}

	.tech__point:last-child {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	.tech__number {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		font-size: 60px;
		line-height: 60px;
		text-align: center;

		opacity: 0.7;
	}
}

@media (min-width: 1150px) {
	.tech {
		padding: 85px 50px;
	}

	.tech__point {
		font-size: 16px;
	}

    .tech__point:last-child {
    	margin-top: 50px;
    }
}

.shop {
	padding: 20px 30px;

	background: url("../img/shop.jpg") no-repeat center;
	background-size: cover;
}

.shop__about {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
}

.shop__features {
	margin: 0;
	padding: 0;
	list-style: none;
}

.shop__feature {
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.shop__action {
	display: block;
	width: 100%;
	padding: 8px;

	color: #ffffff;
	font-size: 16px;
	line-height: 16px;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	border: 2px solid #737575;
	border-radius: 2px;
	background: none;

	transition: background 0.3s,
	            border 0.3s,
	            color 0.3s,
	            opacity 0.2s;
}

.shop__action:hover {
	background: #ffffff;
	border: 2px solid #ffffff;
	color: #737575;
}
.shop__action:active {
	opacity: 0.7;
}

@media (min-width: 768px) {

	.shop {
		padding: 65px 50px;
	}

	.shop__about {
		font-size: 14px;
		line-height: 14px;
	}
	.shop-flexing {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.shop__features {
		width: 45%;
	}
	.shop__feature {
		margin-bottom: 25px;

		font-size: 14px;
		line-height: 18px;
	}
	.shop__feature:last-child {
		margin-bottom: 0;
	}

	.shop__action {
		width: 45%;
		margin-top: auto;
	}
}

@media (min-width: 1150px) {

	.shop {
		padding: 85px 50px;
	}

	.shop__about {
		font-size: 18px;
		line-height: 18px;
	}
	.shop__feature {
		font-size: 18px;
		line-height: 24px;
	}

	.shop__action {
		padding: 12px 0;
		font-size: 18px;
	}
}

.purchase {
	padding: 20px 30px;
	color: #000000;
}

.purchase__item {
	margin-bottom: 20px;
}
.purchase__item h3 {
	margin: 0;
	padding: 0;
	padding: 15px 0;
	padding-left: 15px;
	background: #ececec;
	border-radius: 2px;

	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.purchase__item p {
	margin: 0;
	padding: 30px 15px;
	border: 2px solid #ececec;

	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

@media (min-width: 768px) {

	.purchase {
		padding: 65px 50px;
	}
	.purchase__items {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	}

	.purchase__item {
		display: flex;
		flex-direction: column;
	    width: 45%;
	}
	.purchase__item p {
		flex-grow: 1;
	}


	.purchase__item h3 {
		font-size: 24px;
		line-height: 24px;
	}
}

@media (min-width: 1150px) {

	.purchase {
		padding: 85px 50px;
	}

	.purchase__item h3 {
		font-size: 30px;
	}
}

.page-footer {
	position: relative;
	color: #000000;
}

.page-footer__map {
	width: 100%;
	height: 340px;
	background: url("../img/map.jpg") no-repeat center;
	background-size: cover;
}

.page-footer__adress {
	padding: 20px 30px;
}

.page-footer__adress p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 18px;
}
.page-footer__adress p a {
	color: #000000;
}
.page-footer__adress p a:hover {
	text-decoration: none;
}

.page-footer article {
	position: absolute;
	left: 30px;
	bottom: 5px;
	margin-top: 10px;
}

@media (min-width: 768px) {
	.page-footer {
		padding: 65px 50px;
	}

    .page-footer-flexing {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
}
	.page-footer__adress {
		width: 45%;
		padding: 0;
	}

	.page-footer__adress p {
		font-size: 16px;
		line-height: 20px;
	}

	.page-footer__map {
		width: 50%;
		height: auto;
	}

	.page-footer article {
		left: 50px;
	}
}

@media (min-width: 1150px) {
	.page-footer {
		padding: 85px 50px;
	}
}

.liveinternet {
	position: absolute;
	bottom: 5px;
	right: 5px;
}
/* Всплывающиая форма */

.modal-content {
	display: none;
	position: absolute;
	top: 10%;
	left: 7%;

	width: 82%;
	padding: 5px 10px;

	background: #ececec;
}

.form__title {
	color: #000000;
}


.form__items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form__item {
	display: block;
	margin-bottom: 20px;
}
.form__item span {
	color: #000000;
}
.form__username,
.form__password,
.form__password-repeat {
	display: block;
	width: 96%;
	margin-top: 10px;
	padding: 2%;

	border: none;
	outline: none;
	background: #d7d7d7;
}

.form__username + .error,
.form__password + .error,
.form__password-repeat + .error {
	display: none;
}

.form__username--error,
.form__password--error ,
.form__password-repeat--error {
	outline: 1px solid #ff4040;
	background: #bf3030;
	opacity: 0.3;
}

.form__username--error + .error,
.form__password--error + .error,
.form__password-repeat--error + .error {
	display: block;
	color: #bf3030;
}

.form__item--lic a{
	color: #2e79be;
}
.form__item--lic a:hover {
	text-decoration: none;
}

.form__action {
	display: block;
	margin-bottom: 60px;
	padding: 10px 32px;

	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;

	border: 1px solid #5e6565;
	border-radius: 2px;

	cursor: pointer;
	outline: none;
	background: none;
	transition: background 0.3s,
	            color 0.3s;
}
.form__action:hover {
	background: #5e6565;
	color: #ffffff;
}

.registration-form .form__action {
	font-size: 11px;
}

.modal-content__afteform {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.modal-content__afteform .registr:hover::after {
	content: attr(data-title);
}

.modal-content__afteform .registr:hover::after {
	content: attr(data-title);
    position: absolute; 
    left: 20%;
    top: 30%; 
    z-index: 1; 
    background: rgba(255,255,230,0.9); 
    font-size: 11px; 
    padding: 5px 10px; 
    border: 1px solid #333;
}
.modal-content__afteform::before {
	content: "";
	position: absolute;
	top: -20px;
	left: 0;

	width: 100%;
	height: 1px;

	background: #d7d7d7;
}

.modal-content__afteform a {
	display: block;
	margin-bottom: 25px;

	color: #5e6565;

}
.modal-content__afteform a:hover {
	text-decoration: none;
}

.modal-content__close {
	position: absolute;
	right: -7%;
	top: 2%;

	display: block;
	width: 20px;
	height: 20px;

	font-size: 0;
	border: none;
	outline: none;

	cursor: pointer;

	background: none;
}

.modal-content__close::after,
.modal-content__close::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;

	width: 20px;
	height: 1px;
	margin-top: -1px;

	background: #5e6565;
	border-radius: 1px;
}
.modal-content__close::after {
	transform: rotate(45deg);
}
.modal-content__close::before {
	transform: rotate(-45deg);
}


@media (min-width: 768px) {
	.registration-form .form__action {
	font-size: 16px;
}
}

@media (min-width: 1150px) {

	.modal-content {
		width: 50%;
		padding: 50px 50px;
	}
}


@keyframes bounce {
  0% { transform: translatey(-2000px); }
  70% { transform: translatey(30px); }
  90% { transform: translatey(-10px); }
  100% { transform: translatey(0px); }
}
@keyframes shake {
  0%, 100% { transform: translatex(0); }
  10%, 30%, 50%, 70%, 90% { transform: translatex(-10px); }
  20%, 40%, 60^, 80% { transform: translatex(10px); }
}
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.inner-page__content {
	width: 50%;
	margin: 0 auto;
}

.inner-page__content .form__item span {
	color: #ffffff;
}

.inner-page__content .form__action {
	color: #ffffff;
}

.inner-page .top-background::after {
	display: none;
}

.inner-page__content .modal-content__afteform p {
	padding: 0;
	margin: 0;
	margin-top: -15px;
	margin-bottom: 50px;
}

.first-view__title h1 {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;

	font-size: 28px;
	line-height: 28px;
	font-weight: 300;
}

.first-view__title--shop span {
	font-size: 18px;
	line-height: 12px;
	text-transform: uppercase;
}

@media (min-width: 768px) {

	.first-view__title--shop span {
		font-size: 24px;
	}
}

@media (min-width: 1150px) {

	.first-view__title--shop span {
		font-size: 30px;
    }
}

.shop-nav {
	padding: 0 20px;

	background-color: #000000;
}

.shop-nav__items {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;

	list-style: none;
}



.shop-nav__item a {
	display: block;
	padding: 20px 10px;
	padding-bottom: 22px;

	font-size: 13px;
	line-height: 13px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	transition: color .2s,
	            background-color .2s;
}


.shop-nav__item--active a {
	color: #000000;

	cursor: default;

	background-color: #ffffff;
}

.shop-nav__item a:hover {
	color: #000000;

	background-color: #ffffff;
}

.shop-nav__toggle {
	display: none;
}

@media (min-width: 768px) {

	.shop-nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	    padding: 0 50px;

	    background-color: #000000;
   }


   .shop-nav__item a {
   	padding: 20px 15px;
   	font-size: 18px;
   	line-height: 18px;
   }

   .shop-nav__toggle {
   	position: relative;
   	display: block;
   	width: 37px;
   	height: 40px;
   	margin-top: 20px;

   	border: none;
   	outline: none;
   	cursor: pointer;

   	font-size: 0;

   	background: none;

   }

   

   .shop-nav__toggle::before {
   	content: "";
   	position: absolute;
   	top: 0;
   	left: 0;

   	width: 37px;
   	height: 4px;

   	background-color: #ffffff;

   	box-shadow: 0 10px 0 0 #ffffff,
	            0 20px 0 0 #ffffff;
   }

}

@media (min-width: 1150px) {

	.shop-nav__item a {
		font-size: 20px;
		line-height: 20px;
	}
}

.catalog-lay {
	display: none;
	padding: 30px;
	color: #000000;
}

.catalog-lay--active {
	display: block;
	animation: bounce-catalog 0.6s;
}

@keyframes bounce-catalog {
  0% { transform: translatex(-2000px); }
  70% { transform: translatex(30px); }
  90% { transform: translatex(-10px); }
  100% { transform: translatex(0px); }
}


.goods {
	margin: 0;
	padding: 0;

	list-style: none;
}

.good {
	display: flex;
	flex-direction: row;
    margin-bottom: 5%;

	border: 0.4px solid #3e3e3e;
	border-radius: 2px;

	transition: transform .2s;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.good:hover {
	transform: scale(1.05);
}

.good__img {
	width: 37%;
	margin-right: 8%;
}

.good__img img {
	width: 100%;
	height: 100%;
}

.good__about {
	display: flex;
	flex-direction: column;

	width: 40%;
	padding: 3%;
}

.good__title {
	margin: 0;

	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

.good__description{
	font-size: 14px;
	line-height: 18px;
}

.good__action {
	margin-top: auto;
}
.good__buy {
	display: block;
	width: 70%;
	margin-top: 5px;
	padding: 8px 0;

	border: 1px solid #3e3e3e;
	border-radius: 2px;

	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	text-align: center;
	transition: background-color .2s,
	            color .2s;
}

.good__buy:hover {
	background-color: #3e3e3e;
	color: #ffffff;
}

@media (min-width: 768px) {
	
	.catalog-lay {
		padding:50px;
	}

	.goods {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
	}

	.goods--linear .good {
		width: 100%;
		justify-content: space-between;
		transform: none;
		animation: bounce-catalog 0.6s;
	}

	.good {
		justify-content: space-between;
		width: 47%;
	}

	.good__img {
		width: 45%;
		margin-right: 0;
	}

	.goods--linear .good__img {
		width: 10%;
	}

	.goods--linear .good__about {
		width: 85%;
		flex-direction: row;
		justify-content: space-between;
	}

	.good__title {
		font-size: 18px;
		line-height: 18px;
	}

	.goods--linear .good__title {
		width: 30%;
		margin: auto;
	}

	.good__description {
		font-size: 15px;
	}

	.goods--linear .good__description {
		width: 30%;
		margin: auto;
	}

	.goods--linear .good__action {
		width: 30%;
		margin: auto;
	}

	.good__price {
		font-size: 16px;
		line-height: 16px;
	}

	.good__buy {
		font-size: 16px;
		line-height: 16px;
		text-align: center;
	}
}

@media (min-width: 1150px) {
	
	.good {
		width: 30%;
	}
}

.page-header__user-block--unsigned span,
.page-header__user-block--unsigned .signed {
	display: none;
}

.page-header__user-block--signed span,
.page-header__user-block--signed .unsigned {
	display: block;
}

.page-header__user-block--signed .unsigned {
	display: none;
}


.main-nav__item--unsigned span,
.main-nav__item--unsigned .signed {
	display: none;
}

.main-nav__item--signed span,
.main-nav__item--signed .unsigned {
	display: block;
}

.main-nav__item--signed .unsigned {
	display: none;
}

.choise-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin-bottom: 20px;

	background-color: #000000;
}

.choise-nav__items {
	display: flex;
	flex-direction: row;

	margin: 0;
	padding: 0;

	list-style: none;
}

.choise-nav__item a {
	display: block;
	padding: 25px 20px;
	padding-bottom: 30px;

	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	transition: background .2s,
	            color .2s;
}

.choise-nav__item a:hover {
	color: #000000;

	background-color: #ffffff;
}


.choise-nav__crumb a {
	display: block;
	padding: 15px;
	padding-top: 28px;

	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	color: #ffffff;

}

.choise {
	padding: 0 30px;
	color: #4e4e4e;
}

.choise__img {
	margin-bottom: 20px;

	text-align: center;
}

.choise__title {
	margin: 0;
	margin-bottom: 10px;

	font-size: 20px;
	line-height: 20px;

	color: #4e4e4e;
}

.choise__description {
	margin: 0;

	font-size: 16px;
	line-height: 16px;
}


.choise__buy {
	display: block;
	margin-top: 10px;
	padding: 10px 20px;

	border: 1px solid #4e4e4e;
	border-radius: 2px;

	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #000000;

	transition: background-color .2s,
	            color .2s;
}

.choise__buy:hover {
	color: #ffffff;

	background-color: #4e4e4e;
}

@media (min-width: 768px) {
	.choise {
		display: flex;
		flex-direction: row;
	}

	.choise__img {
		margin-bottom: auto;
		margin-right: 5%;
	}

	.choise__img img {
		width: 100%;
		height: 100%;
	}

	.choise__about {
		display: flex;
		flex-direction: column;
		width: 40%;
	}

	.choise__action {
		margin-top: auto;
	}
}